pandas
notebook
numpy
ray[default]==2.46.0
ipywidgets
torch
lightning
scikit-learn
fastapi
xgboost
pyarrow
ray[serve]==2.46.0
ray[tune]==2.46.0
torchvision
matplotlib
s3fs
transformers
awscli
diffusers[torch]